.info {
    display: flex;
    background-color: #fff;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    padding: 20px 30px;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 10px;
}

.title {
    display: block;
    border-bottom: 1px solid rgb(205, 205, 205);
    width: 100%;
    margin-bottom: -10px;
}

.asideBody {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    gap: 30px
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}