.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    height: 180px;
    background-color: #1d3746;
    padding: 0 0 0 30px;
}

.headerName {
    color: #fff;
    font-size: 40px;
}

.headerTitle {
    color: #fff;
    font-size: 28px;
}