.body {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    border-bottom-right-radius: 6mm;
}

.skillField {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.skillName {
    max-width: 240px;
}

.skillLevel {
    display: flex;
    flex-direction: row-reverse;
}

.trash {
    margin-left: auto;
    cursor: pointer;
}

@media screen and (max-width: 530px) {
    .skillField {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .trash {
        position: absolute;
        right: 20px;
        top: 24px;
    }
}