.educationField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ededed;
}

.deleteButton {
    display: none;
}

.date {
    color: #000;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.date::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.date:focus {
    border: none;
    outline: none;
}

.educationField button {
    margin-left: auto;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.buttons svg {
    cursor: pointer;
}