.details {
    display: flex;
    flex-direction: column;
    background-color: #b3b36d;
    border-radius: 6mm;
    width: 100%;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.controlsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}