.button {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.delete {
    background-color: #ca1e1e;
    color: rgb(255, 255, 255);
}

.active {
    background-color: #28b32b;
    color: #ffffff;
}

.reset {
    background-color: #a00e0e;
    color: #fff;
}

.pdf {
    background-color: #0d7369;
    color: #ffffff;
}