.experienceField {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

.groupAdaptiveInputs {
    display: flex;
    gap: 10px;
}

.experienceField button {
    margin-left: auto;
}

@media screen and (max-width: 475px) {
    .groupAdaptiveInputs {
        flex-wrap: wrap;
        gap: 10px;
    }
}