* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadada;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputAdaptiveFieldsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    width: 100%;
    max-width: 120px;
    border: none;
    border-radius: 4px;
    height: 34px;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.delete {
    background-color: #7a1212;
    color: #fff;
}

.active {
    background-color: #28b32b;
    color: #fff;
}

.reset {
    background-color: #7a1212;
    color: #fff;
}

.pdf {
    background-color: #0d7369;
    color: #fff;
}

@media screen and (max-width: 475px) {
    .reset, .pdf {
        font-size: 10px;
    }
}

@media screen and (min-width: 769px) {
    body {
        padding: 0 calc(20px - (100vw - 100%)) 0 0; 
    }
}

@media screen and (min-width: 475px) {
    .inputAdaptiveFieldsBlock input {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50%);
    }
}